<div class="sidebar" data-color="orange" data-background-color="black">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            {{sessionUser.fullName}}
        </a>
        <a href="/" class="simple-text logo-normal">
            {{sessionUser.role}}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {{#if dashboard}} active {{/if}} ">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>{{__ "Dashboard"}}</p>
                </a>
            </li>
            <li class="nav-item {{#if tour}} active {{/if}} ">
                <a class="nav-link" href="/tour/tourList/1">
                    <i class="material-icons">library_books</i>
                    <p>{{__ "Tour Management"}}</p>
                </a>
            </li>
            <li class="nav-item {{#if person}} active {{/if}} ">
                <a class="nav-link" href="/user/userList/1">
                    <i class="material-icons">person</i>
                    <p>{{__ "User Management"}}</p>
                </a>
            </li>
            <li class="nav-item {{#if orders}} active {{/if}} ">
                <a class="nav-link" href="/order/orderList">
                    <i class="material-icons">bookmarks</i>
                    <p>{{__ "Booking Management"}}</p>
                </a>
            </li>
            <li class="nav-item {{#if coupon}} active {{/if}} ">
                <a class="nav-link" href="/coupon/couponList/1">
                    <i class="material-icons">redeem</i>
                    <p>{{__ "Coupon Management"}}</p>
                </a>
            </li>
            <!-- your sidebar here -->
        </ul>
    </div>
    <div class="sidebar-background" style="background-image: url(/images/sidebar-1.jpg) "></div>
</div>

