<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-body">
          <h4 class="text-warning"><strong>{{__ "Email"}}:</strong></h4>
          <form action="/user/filterEmail" method="post">
            <div class="row ">
              <div class="col-4 form-group">
                <input type="text" class="form-control" name="email" id="email"
                  placeholder="Please input customer email">
              </div>
              <div class="col-4 form-group">
                <button type="submit" class="btn btn-warning">{{__ "Filter"}}</button>
              </div>
            </div>

          </form>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="card-header card-header-warning">
                <th>
                  No.
                </th>
                <th>
                  {{__ "User Account"}}
                </th>
                <th>
                  {{__ "User Name"}}
                </th>
                <th>
                  {{__ "Phone Number"}}
                </th>
                <th>
                  {{__ "Role"}}
                </th>
                <th>
                  {{__ "Status"}}
                </th>
                <th>
                  {{__ "View"}}
                </th>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td>
                    {{this.number}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.fullName}}
                  </td>
                  <td>
                    {{this.phoneNum}}
                  </td>
                  <td>
                    {{this.role}}
                  </td>
                  <td>
                    {{this.status}}
                  </td>
                  <td>
                    <a class="text-warning" href="/user/signup/{{this._id}}">Detail</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
              <nav class="pull-right" style=" padding-right: 50px; display: inline-block;">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" style="color:#fea21f" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" style="color:#fea21f" href="/user/userList/1">1</a></li>
                  <li class="page-item"><a class="page-link" style="color:#fea21f" href="/user/userList/2">2</a></li>
                  <li class="page-item"><a class="page-link" style="color:#fea21f" href="/user/userList/3">3</a></li>
                  <li class="page-item"><a class="page-link" style="color:#fea21f" href="/user/userList/4">4</a></li>
                  <li class="page-item">
                    <a class="page-link" style="color:#fea21f" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </table>
          </div>
          <div>
            <a href="/user/signup/new" class="btn btn-warning pull-right" type="button">Create New User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>